.flex_container {
    display: flex;
    display: -webkit-flex;
    justify-content:space-between;
    align-items: center;
    flex-flow: row wrap;
    flex-direction: column;
    overflow: auto;
    width: 100%;
    max-width: 1920px;
    margin: 10px auto;
    padding: 5px;
    -webkit-flex-flow: row wrap;
}
cols_Available{
    max-width:1240px;
}
.flex_col_0 {
    width: 100%;
    margin-bottom: 30px;
    padding: 0 5px;
}
.flex_col_1{
    width:49%;
    margin-bottom:30px;
    padding:0 5px;
}
.flex_col_2 {
    width: 25%;
    margin-bottom: 30px;
    padding: 0 5px;
}

@media only screen and (max-width : 480px){
    .flex_col_1{width:100%;}
    .flex_col_2{width:50%;}
}


/*******Pop-up(s)********/
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

    .overlay:target {
        visibility: visible;
        opacity: 1;
    }

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
    overflow: auto;
    max-height: 900px;
}

    .popup h2 {
        margin-top: 0;
        color: #333;
        font-family: Tahoma, Arial, sans-serif;
    }

    .popup .close {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
    }

        .popup .close:hover {
            color: #06D85F;
        }

    .popup .content {
        max-height: 30%;
        overflow: auto;
    }

@media screen and (max-width: 768px) {

    .popup {
        width: 90%;
        margin: 70px 0 0 20px;
        max-height: 500px;
    }
}

@media screen and (max-width: 375px) {

    .popup {
        width: 70%;
        max-width: 360px;
        margin: 70px 0 0 10px;
        max-height: 500px;
    }
}
/*******Pop-up(f)********/