@model UrunStokOtomasyonu.Models.EntityFramework.TBLADMIN
@{
    ViewBag.Title = "AyarGoruntule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mw-500 text-center bg-transparent mt-5">
    <h1 class="sketchy text-center">Profil Bilgisi</h1>
</div>


    <div style="max-width:600px;margin:50px auto">
        <table class="table table-bordered table-hover table-responsive-lg">

        
            <tr>
                <td class="font-weight-bold">Adı</td>
                <td>@Html.DisplayFor(x => x.AD)</td>
            </tr>
            <tr>
                <td class="font-weight-bold">Soyadı</td>
                <td>@Html.DisplayFor(x => x.SOYAD)</td>
            </tr>
            <tr>
                <td class="font-weight-bold">Kullanıcı Adı</td>
                <td>@Html.DisplayFor(x => x.KULLANICIADI)</td>
            </tr>
            <tr>
                <td class="font-weight-bold">Şifre</td>
                <td>@Html.DisplayFor(x => x.SIFRE)</td>
            </tr>
        </table>     
    </div>


