
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Üye Dashboard</title>

    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="~/webpanel/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <!-- icheck bootstrap -->
    <link href="~/webpanel/Profil/icheck-bootstrap.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/webpanel/Profil/adminlte.css" rel="stylesheet" />
    <!-- summernote -->
    <link href="~/webpanel/Profil/summernote-bs4.css" rel="stylesheet" />
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link href="~/Content/sayfamb.css" rel="stylesheet" />
</head>

<body class="hold-transition sidebar-mini layout-fixed">

    <div class="wrapper">

        <!-- Main Sidebar Container -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fa fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="/UyePanel/Anasayfa" class="nav-link">Anasayfa</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="/UyePanel/SatisEkle" class="nav-link">Satış</a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/Login/UyeLogout" role="button">
                        <i class="fa fa-sign-out"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <aside class="main-sidebar sidebar-dark-primary elevation-4">

            <div class="sidebar">

                <!-- Sidebar user panel (optional) -->
                <div style="max-width:180px; margin: 20px auto;">
                    <a href="/UyePanel/Anasayfa"><img src="~/webpanel/default-profile.jpg" class="img-circle" style="width:100%;max-width: 180px;" alt="Üye Paneli" /></a>
                </div>

                <div class="user-panel mt-3 pb-3 mb-3 d-flex">

                    <div class="info">

                        <a href="#" class="d-block">Üye Paneli</a>

                    </div>

                </div>

                <!-- Sidebar Menu -->

                <nav class="mt-2">

                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                        <li class="nav-item">
                            <a href="/UyePanel/Anasayfa" class="nav-link"><i class="nav-icon fa fa-home"></i><p>Anasayfa</p></a>
                        </li>
                        <li class="nav-item">
                            <a href="/UyePanel/Profil" class="nav-link"><i class="nav-icon fa fa-user-circle-o"></i><p>Profilim</p></a>
                        </li>
                        <li class="nav-item">
                            <a href="/UyePanel/Duyurular" class="nav-link"><i class="nav-icon fa fa-anchor"></i><p>Duyurular</p></a>
                        </li>
                        <li class="nav-item">
                            <a href="/UyePanel/SatisListesi" class="nav-link"><i class="nav-icon fa fa-book"></i><p>Satışlar</p></a>
                        </li>
                        <li class="nav-item">
                            <a href="/UyePanel/IstenenUrunler" class="nav-link"><i class="nav-icon fa fa-bookmark-o"></i><p>İstenen Ürünler</p></a>
                        </li>
                        @if (User.IsInRole("A"))
                        {
                            <li class="nav-item">
                                <a href="/Home/Indexs" class="nav-link"><i class="nav-icon fa fa-key"></i><p>Admin</p></a>
                            </li>
                        }
                        <li class="nav-item">
                            <a href="#popup1" class="nav-link"><i class="nav-icon fa fa-wrench"></i><p>Yardım</p></a>
                        </li>
                        <li class="nav-item">
                            <a href="/Login/UyeLogout" class="nav-link"><i class="nav-icon fa fa-sign-out"></i><p>Çıkış</p></a>
                        </li>
                    </ul>

                </nav>

                <!-- /.sidebar-menu -->

            </div>

            <!-- /.sidebar -->

        </aside>

        <!-- Content Wrapper. Contains page content -->

        <div class="content-wrapper">

            <!-- Content Header (Page header) -->

            <div class="content">

                <div class="container-fluid">

                    <div class="row mb-2">





                    </div><!-- /.row -->

                </div><!-- /.container-fluid -->

            </div>

            <!-- /.content-header -->
            <!-- Main content -->

            <section class="content">

                <div class="container-fluid">

                    @RenderBody()



                </div><!-- /.container-fluid -->

            </section>

            <!-- /.content -->

        </div>

    </div>

    <!-- ./wrapper -->
    <!-- jQuery -->

    <script src="~/webpanel/Profil/demo.js"></script>
    <!-- jQuery -->

    <script src="~/webpanel/Profil/jquery.min.js"></script>

    <!-- Bootstrap 4 -->

    <script src="~/webpanel/Profil/bootstrap.bundle.min.js"></script>

    <!-- AdminLTE App -->

    <script src="~/webpanel/Profil/adminlte.min.js"></script>

    <!-- Summernote -->

    <script src="/webpanel/Profil/summernote-bs4.min.js"></script>

    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->

    <script>

        $.widget.bridge('uibutton', $.ui.button)

    </script>


</body>

</html>


<div id="popup1" class="overlay">
    <div class="popup">
        <h2>Bilgilendirme Kutusu</h2>
        <a class="close" href="">&times;</a>
        <div class="content">
            <div class="content">
                <div class="flex_col_0">Satışlar kısmı satış aşaması aksiyonları aşağıda açıklanmıştır.</div>
            </div>
            <div class="flex_container" style="border-bottom:1px solid #808080">
                <div class="flex_col_1"><span class="btn btn-warning text-white text-lg-center">Sipariş Alındı</span></div>
                <div class="flex_col_1">Satış yapanın sipariş oluşturduğu aksiyondur.</div>
            </div>
            <div class="flex_container"style="border-bottom:1px solid #808080">
                <div class="flex_col_1"><span class="btn text-white text-lg-center" style="background-color: darkviolet">İstek</span></div>
                <div class="flex_col_1">Stoğun tükendiği durumda ya da üyenin sipariş verdiği miktarın stoktan fazla olduğu durumda seçilmesi gereken aksiyondur.Ürün sağlayıcıya istediğiniz ürün miktarı kadar size ürün iletmesi gerektiğini belirtir.</div>
            </div>
            <div class="flex_container"style="border-bottom:1px solid #808080">
                <div class="flex_col_1"><span class="btn btn-info text-white text-lg-center">T.E. Ücret Bekleniyor</span></div>
                <div class="flex_col_1">Ürünün müşteriye teslim edildiği ve ücretin alınmadığını belirtir.</div>
            </div>
            <div class="flex_container"style="border-bottom:1px solid #808080">
                <div class="flex_col_1"><span class="btn btn-secondary text-white text-lg-center">Ü.A. Teslim Bekleniyor</span></div>
                <div class="flex_col_1">Ücretin müşteriden alındığı ve ürünün teslim edilmediğini belirtir.</div>
            </div>
            <div class="flex_container"style="border-bottom:1px solid #808080">
                <div class="flex_col_1"><span class="btn btn-success text-white text-lg-center">Tamamlandı</span></div>
                <div class="flex_col_1">Satışın başarı ile müşteriye teslim edildiğini ve ücretin alındığını belirtir.</div>
            </div>
            <div class="flex_container"style="border-bottom:1px solid #808080">
                <div class="flex_col_1"><span class="btn btn-danger text-white text-lg-center">İptal Edildi</span></div>
                <div class="flex_col_1">Satışın gerçekleşmediğini belirtir.</div>
            </div>
            <div class="flex_container">
                <div class="flex_col_1"><span class="btn text-white text-lg-center" style="background-color: black; color: white">Üyeye Tedarik Edildi</span></div>
                <div class="flex_col_1">İstekte bulunulan ürünü üyeye teslim edildiğini gösterir.Bu aksiyonu sadece ürün tedarikçisi(admin) alabilir.</div>
            </div>
        </div>
    </div>
</div>